@import './../../../../../styles/utils.scss';

:host {
  @include flex(space-evenly, center, column);
  width: 10%;
  height: 100%;

  @media (max-width: 809px) {
    flex-direction: row;
    width: 100%;
    height: 10%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 809px) {
    flex-direction: row;
    width: 90%;
  }
}

.planets {
  @include flex(center, center, column);
  width: get-vh(50px);
  height: 100%;
  gap: get-vh(60px);
  position: relative;
  border-radius: 5px;

  @media (max-width: 809px) {
    flex-direction: row;
    width: 100%;
    height: inherit;
    justify-content: space-between;
    gap: inherit;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.432);

    @media (max-width: 809px) {
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
    
    }
  }
}

.planet {
  width: get-vh(15px);
  height: get-vh(15px);
  border-radius: 100%;
  margin: 0 10px;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;

  img {
    @include img(100%, 100%, contain, center);
  }

  &:hover {
    transform: scale(1.2);
    width: get-vh(35px);
    height: get-vh(35px);
  }
}

.planet.active {
  transform: scale(1.2);
  width: get-vh(30px);
  height: get-vh(30px);
}

.lenght {
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.432);
  font-size: em(10);

  @media (max-width: 809px) {
    transform: rotate(0deg);
  }
}