<!-- <div class="container" (mousewheel)="onMouseWheel($event)">
  <div class="content">
    <h1 [ngClass]="{'text-blue': isBlueText, 'text-red': isRedText}">
      Mousewheel to change text color and image
    </h1>
    <div class="image-container">
      <img *ngIf="showImage1" src="assets/image/Solar System 02.png" alt="Blue Image">
      <img *ngIf="showImage2" src="https://via.placeholder.com/800x600/FF0000" alt="Red Image">
    </div>
  </div>
</div> -->

<div class="main">
  <router-outlet #o="outlet"></router-outlet>
</div>